@font-face {
  font-family: Kopub;
  src: url(./fonts/KoPubBatang-Bold.ttf);
  src: url(./fonts/KoPubBatang-Light.ttf);
  src: url(./fonts/KoPubBatang-Regular.ttf);
}
.navbar-home {
  background: #1e1e1e;
}
.home-header {
  height: 100vh;
  background: rgb(20, 20, 20);
  background: linear-gradient(
    90deg,
    rgba(20, 20, 20, 1) 0%,
    rgba(40, 29, 61, 1) 15%,
    rgba(59, 35, 90, 1) 30%,
    rgba(94, 49, 153, 1) 45%,
    rgba(151, 71, 255, 1) 60%,
    rgba(94, 49, 153, 1) 75%,
    rgba(40, 29, 61, 1) 90%,
    rgba(20, 20, 20, 1) 100%
  );
}
/* Featured Division Styling */
.home-featured {
  background-color: white;
  position: relative;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.home-featured span {
  font-family: "Kopub";
  font-size: 96px;
  letter-spacing: 15px;
  color: rgba(0, 0, 0, 0.078);
}
.home-featured label {
  font-size: 32px;
  font-family: "Kumbh Sans";
  font-weight: bold;
  margin-top: -100px;
  letter-spacing: 2px;
}
.home-featured iframe {
  height: 100vh;
}
/* Limited Editions Div Styling */
.home-limited-editions {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
home-limited-editions-design {
  display: flex;
  width: 100vw;
  flex-direction: row !important;
  position: relative;
}
.home-limited-editions label {
  font-family: "Kanit", sans-serif;
  font-size: 100px;
  line-height: 80px;
  margin-left: 90px;
}
.violet-rectangles {
  height: 30px;
  /* width: 200px; */
  background-color: #9747ff;
  margin-top: 15px;
}
.violet-rectangles1 {
  width: 50px;
  position: absolute;
  top: 100px;
}
.violet-rectangles2 {
  width: 70px;
  position: absolute;
  top: 140px;
}
.violet-rectangles3 {
  width: 90px;
  position: absolute;
  right: 0;
}
.violet-rectangles4 {
  width: 90px;
  position: absolute;
  right: 0;
}
.violet-rectangles5 {
  width: 90px;
  position: absolute;
  right: 0;
}
