* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Kopub;
  src: url(./fonts/KoPubBatang-Bold.ttf);
  src: url(./fonts/KoPubBatang-Light.ttf);
  src: url(./fonts/KoPubBatang-Regular.ttf);
}
.home-header {
  width: 300vw;
  background-color: blueviolet;
  display: flex;
  position: relative;
  animation: mymoves 10s infinite;
}
@keyframes mymoves {
  from {
    right: 800%;
  }
  to {
    right: 0%;
  }
}
.spacious {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10vh 15vw;
}
img {
  height: 400px;
}
span {
  font-family: Kopub;
  font-size: 150px;
  color: white;
  text-align: center;
  font-weight: lighter;
}
.home-header-bags {
  padding: 10vh 7vw;
  width: 100vw;
}
.home-header-bags2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.home-header-bags3 {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}
