.products {
  display: flex;
  flex-direction: column;
}
.product {
  display: flex;
  background-color: bisque;
  width: 100vw;
}
.products img {
  height: 100%;
  width: max-width;
}
.product-details {
  background-color: rebeccapurple;
}
.product-image {
  background-color: aqua;
}
.circle1 {
  background-color: red;
}
