* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
.navbar {
  background-color: #971b1b;
  padding: 10px 15vw;
}
.navbar img {
  height: 60px;
  width: auto;
  background-color: white;
  padding-top: -50px;
}
.navbar a {
  font-family: "Italiana", serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
.header {
  background-color: #971b1b;
  height: 100vh;
}
.saletag {
  display: flex;
}
.saletag h1 {
  font-size: 10rem;
  color: #971b1b;
  font-family: "Italiana", serif;
  font-family: "Kumbh Sans", sans-serif;
  margin-top: 25px;
  font-weight: 700;
  margin-left: 150px;
  white-space: nowrap;
  position: absolute;
  text-transform: uppercase;
  text-shadow: -1px 5px 6px rgba(0, 0, 0, 0.6);
  -webkit-animation: mymove 5s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  /* animation: mymove 8s linear infinite alternate; */
}
@keyframes mymove {
  from {
    left: 1000px;
  }
  to {
    left: -500px;
  }
}

input {
  display: none;
}

body {
  background-color: #37474f;
}

main {
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide {
  width: 800px;
  height: 200px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.slide-1 {
  background-image: url(http://pabook.libraries.psu.edu/palitmap/CherrySpringsRedTelescopes.jpg);
}

.slide-2 {
  background-image: url(http://www.mso.anu.edu.au/galah/images/m31_gendler.jpg);
}

.slide-3 {
  background-image: url(http://i.space.com/images/i/000/010/331/wS1/milky-way-echinopsis-atacamensis-1600.jpg?1308606679);
}

.slide-4 {
  background-image: url(http://ousterhout.net/gallery/slideshows/hst/The%20Milky%20Way%20Galaxy.jpg);
}

.slide-5 {
  background-image: url(http://www.mpifr-bonn.mpg.de/2965076/zoom.jpg);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: top 0.1s ease;
  cursor: pointer;
}

.prev:active,
.next:active {
  top: calc(50% + 3px);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

label {
  display: none;
}

.dot {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: gray;
  background-color: rgba(40, 37, 40, 0.2);
  border-radius: 50%;
  left: calc(50% - 4px);
  bottom: -30px;
  cursor: pointer;
}

.dot-1 {
  transform: translateX(-28px);
}

.dot-2 {
  transform: translateX(-14px);
}

.dot-4 {
  transform: translateX(14px);
}

.dot-5 {
  transform: translateX(28px);
}

#control-1:checked ~ .dot-1,
#control-2:checked ~ .dot-2,
#control-3:checked ~ .dot-3,
#control-4:checked ~ .dot-4,
#control-5:checked ~ .dot-5 {
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid black;
}

#control-1:checked ~ .dot-1 {
  transform: translate(-30px, 2px);
}

#control-2:checked ~ .dot-2 {
  transform: translate(-16px, 2px);
}

#control-3:checked ~ .dot-3 {
  transform: translate(-2px, 2px);
}

#control-4:checked ~ .dot-4 {
  transform: translate(12px, 2px);
}

#control-5:checked ~ .dot-5 {
  transform: translate(26px, 2px);
}

#control-1:checked ~ label[for="control-5"].prev,
#control-1:checked ~ label[for="control-2"].next {
  display: inline-block;
}

#control-1:checked ~ .slide-1 {
  opacity: 1;
}

#control-2:checked ~ label[for="control-1"].prev,
#control-2:checked ~ label[for="control-3"].next {
  display: inline-block;
}

#control-2:checked ~ .slide-2 {
  opacity: 1;
}

#control-3:checked ~ label[for="control-2"].prev,
#control-3:checked ~ label[for="control-4"].next {
  display: inline-block;
}

#control-3:checked ~ .slide-3 {
  opacity: 1;
}

#control-4:checked ~ label[for="control-3"].prev,
#control-4:checked ~ label[for="control-5"].next {
  display: inline-block;
}

#control-4:checked ~ .slide-4 {
  opacity: 1;
}

#control-5:checked ~ label[for="control-4"].prev,
#control-5:checked ~ label[for="control-1"].next {
  display: inline-block;
}

#control-5:checked ~ .slide-5 {
  opacity: 1;
}
